.services-container .services-container__text-block {
  text-align: center;
}
.services-container .services-container__text-block .services-container__text-block__preheadline {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  color: #1fc072;
  margin: 0px 0px 45px 0px;
}
.services-container .services-container__text-block .services-container__text-block__headline {
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "SF Old Republic", sans-serif;
}
.services-container .services-container__text-block .services-container__text-block__paragraph {
  color: #808080;
  font-size: 22px;
  line-height: 28px;
  margin: 45px 0px 60px 0px;
  font-weight: 400;
}
.services-container .services-container__services {
  align-items: stretch !important;
}
.services-container .services-container__services .services-container__services__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.services-container .services-container__services .services-container__services__item .services__item__content {
  background-color: white;
  -webkit-box-shadow: 0px 4px 40px -10px rgba(28, 28, 28, 0.2);
  -moz-box-shadow: 0px 4px 40px -10px rgba(28, 28, 28, 0.2);
  box-shadow: 0px 4px 40px -10px rgba(28, 28, 28, 0.2);
  border-radius: 10px;
  padding: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__icon {
  background-color: #1fc072;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__icon i {
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__headline {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin: 30px 0px 15px 0px;
}
.services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__paragraph {
  color: #808080;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.services-container .services-container__services .services-container__services__item:nth-child(2) .services__item__content__icon {
  background-color: #ff5c45;
}
.services-container .services-container__services .services-container__services__item:nth-child(3) .services__item__content__icon {
  background-color: #ffd524;
}
.services-container .services-container__services .services-container__services__item:nth-child(4) .services__item__content__icon {
  background-color: #1c1c1c;
}
.services-container .services-container__services .services-container__services__item:hover .services__item__content {
  background-color: #1fc072;
}
.services-container .services-container__services .services-container__services__item:hover .services__item__content .services__item__content__icon {
  background-color: white;
}
.services-container .services-container__services .services-container__services__item:hover .services__item__content .services__item__content__icon i {
  color: #1fc072;
}
.services-container .services-container__services .services-container__services__item:hover .services__item__content .services__item__content__headline {
  color: white;
}
.services-container .services-container__services .services-container__services__item:hover .services__item__content .services__item__content__paragraph {
  color: white;
}

@media (max-width: 1280px) {
  .services-container {
    padding: 0px 40px 80px 40px;
  }
  .services-container .services-container__text-block .services-container__text-block__preheadline {
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0px 45px 0px;
  }
  .services-container .services-container__text-block .services-container__text-block__headline {
    font-size: 32px;
    line-height: 36px;
  }
  .services-container .services-container__text-block .services-container__text-block__paragraph {
    color: #808080;
    font-size: 18px;
    line-height: 24px;
    margin: 45px 0px 60px 0px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content {
    padding: 20px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__headline {
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0px 10px 0px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__paragraph {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 1024px) {
  .services-container {
    padding: 0px 40px 70px 40px;
  }
  .services-container .services-container__text-block .services-container__text-block__preheadline {
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0px 45px 0px;
  }
  .services-container .services-container__text-block .services-container__text-block__headline {
    font-size: 32px;
    line-height: 36px;
  }
  .services-container .services-container__text-block .services-container__text-block__paragraph {
    color: #808080;
    font-size: 18px;
    line-height: 24px;
    margin: 45px 0px 60px 0px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content {
    padding: 20px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__headline {
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0px 10px 0px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__paragraph {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .services-container {
    padding: 0px 20px 70px 20px;
  }
  .services-container .services-container__text-block .services-container__text-block__preheadline {
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0px 45px 0px;
  }
  .services-container .services-container__text-block .services-container__text-block__headline {
    font-size: 32px;
    line-height: 36px;
  }
  .services-container .services-container__text-block .services-container__text-block__paragraph {
    color: #808080;
    font-size: 18px;
    line-height: 24px;
    margin: 45px 0px 60px 0px;
  }
  .services-container .services-container__services .services-container__services__item {
    justify-content: center;
    padding: 0;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content {
    padding: 20px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__headline {
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0px 10px 0px;
  }
  .services-container .services-container__services .services-container__services__item .services__item__content .services__item__content__paragraph {
    font-size: 16px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=services-section.css.map */
