@import "tmp.scss";

.reviews-bg {
  background-color: $color-accent;
  color: white;
  background-image: linear-gradient(
      to top,
      rgba(31, 192, 114, 0.97),
      rgba(31, 192, 114, 0.97)
    ),
    url("../img/reviews-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.reviews-container {
  .reviews-container__reviews {
    padding: 0px 40px;
    .reviews-slider {
      padding: 0px 70px 0px 0px;

      position: relative;

      .slick-list {
        .slick-track {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .slick-slide {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            color: $basic-color;

            .reviews-slider__review__text {
              display: block;
              font-size: $small-paragraph-fs;
              line-height: $small-paragraph-lh;
              font-weight: 400;
              background-color: $basic-gray;
              border-radius: 10px;
              padding: 15px 20px;
              margin: 0px 0px 30px 0px;

              i {
                font-size: 22px;
                color: $dark-gray;
              }

              i:first-child {
                display: inline;
                margin: 0px 10px 0px 0px;
              }

              i:last-child {
                display: inline;
                margin: 0px 0px 0px 10px;
                vertical-align: sub;
              }
            }

            .reviews-slider__review__author-img {
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              width: 60px;
              height: 60px;
              border-radius: 10px;
              margin: 0px 15px 0px 0px;
            }
            #author-one {
              background-image: url("../img/user-1.jpg");
            }
            #author-two {
              background-image: url("../img/user-2.jpg");
            }
            #author-three {
              background-image: url("../img/user-3.jpg");
            }
            #author-four {
              background-image: url("../img/user-4.jpg");
            }
            #author-five {
              background-image: url("../img/user-5.jpg");
            }

            .reviews-slider__review__author-name {
              font-size: $large-paragraph-fs;
              line-height: $large-paragraph-lh;
              font-weight: 700;
            }
            .reviews-slider__review__author-term {
              font-size: $small-paragraph-fs;
              line-height: $small-paragraph-lh;
              color: $paragraph-color;
              display: inline;

              span {
                color: $color-accent;
                display: inline;
              }
            }
            .reviews-slider__review__mark {
              color: $color-accent-3;
              font-size: $small-paragraph-fs;
            }
          }
        }
      }
      .slick-dots {
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 97%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        list-style: none;
        text-align: center;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
          margin: 15px;
          padding: 0;
          cursor: pointer;
          border-radius: 50%;

          button {
            font-size: 0;
            line-height: 0;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            cursor: pointer;
            border: 0;
            color: transparent;
            outline: none;
            background-color: white;
            opacity: 0.3;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
        }
        .slick-active {
          width: 16px;
          height: 16px;
          button {
            opacity: 1;
            width: 16px;
            height: 16px;
            border-radius: 8px;
          }
        }
      }
    }
  }
  .reviews-container__text {
    padding: 0px 0px 0px 70px;
    .reviews-container__text__preheadline {
      font-size: $large-paragraph-fs;
      line-height: $large-paragraph-lh;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
      margin: 0px 0px 45px 5px;
      color: $basic-color;

      span {
        border-bottom: 2px solid $color-accent-3;
      }
    }
    .reviews-container__text__headline {
      font-size: $large-headline-fs;
      line-height: $large-headline-lh;
      font-weight: 700;
      text-transform: capitalize;
      font-family: "SF Old Republic", sans-serif;

      span {
        font-size: 72px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .reviews-container {
    padding: 80px 40px;
    .reviews-container__reviews {
      padding: 0px 40px;
      .reviews-slider {
        padding: 0px 40px 0px 0px;
        .slick-list {
          .slick-track {
            .slick-slide {
              padding: 20px;

              .reviews-slider__review__text {
                font-size: $small-paragraph-small-fs;
                line-height: $small-paragraph-small-lh;
                padding: 15px 20px;
                margin: 0px 0px 20px 0px;

                i {
                  font-size: 18px;
                  color: $dark-gray;
                }

                i:first-child {
                  margin: 0px 10px 0px 0px;
                }

                i:last-child {
                  margin: 0px 0px 0px 10px;
                }
              }

              .reviews-slider__review__author-img {
                width: 60px;
                height: 60px;
                margin: 0px 15px 0px 0px;
              }
              #author-one {
              }
              #author-two {
              }
              #author-three {
              }
              #author-four {
              }
              #author-five {
              }

              .reviews-slider__review__author-name {
                font-size: $large-paragraph-small-fs;
                line-height: $large-paragraph-small-lh;
              }
              .reviews-slider__review__author-term {
                font-size: $small-paragraph-small-fs;
                line-height: $small-paragraph-small-lh;

                span {
                }
              }
              .reviews-slider__review__mark {
                font-size: 14px;
              }
            }
          }
        }
        .slick-dots {
          top: 50%;
          bottom: 50%;
          left: 97%;
          flex-direction: column;
          li {
            flex-direction: column;
            width: 10px;
            height: 10px;
            margin: 10px;

            button {
              width: 10px;
              height: 10px;
            }
          }
          .slick-active {
            width: 16px;
            height: 16px;
            button {
              width: 16px;
              height: 16px;
              border-radius: 8px;
            }
          }
        }
      }
    }
    .reviews-container__text {
      padding: 0px 0px 0px 70px;
      .reviews-container__text__preheadline {
        font-size: $large-paragraph-small-fs;
        line-height: $large-paragraph-small-lh;
        margin: 0px 0px 35px 5px;

        span {
        }
      }
      .reviews-container__text__headline {
        font-size: $large-headline-small-fs;
        line-height: $large-headline-small-lh;

        span {
          font-size: 48px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .reviews-container {
    padding: 80px 40px;
    .reviews-container__reviews {
      padding: 0px 40px;
      .reviews-slider {
        padding: 0px;
        .slick-list {
          .slick-track {
            .slick-slide {
              padding: 20px;

              .reviews-slider__review__text {
                font-size: $small-paragraph-small-fs;
                line-height: $small-paragraph-small-lh;
                padding: 15px 20px;
                margin: 0px 0px 20px 0px;

                i {
                  font-size: 18px;
                  color: $dark-gray;
                }

                i:first-child {
                  margin: 0px 10px 0px 0px;
                }

                i:last-child {
                  margin: 0px 0px 0px 10px;
                }
              }

              .reviews-slider__review__author-img {
                width: 60px;
                height: 60px;
                margin: 0px 15px 0px 0px;
              }
              #author-one {
              }
              #author-two {
              }
              #author-three {
              }
              #author-four {
              }
              #author-five {
              }

              .reviews-slider__review__author-name {
                font-size: $large-paragraph-small-fs;
                line-height: $large-paragraph-small-lh;
              }
              .reviews-slider__review__author-term {
                font-size: $small-paragraph-small-fs;
                line-height: $small-paragraph-small-lh;

                span {
                }
              }
              .reviews-slider__review__mark {
                font-size: 14px;
              }
            }
          }
        }
        .slick-dots {
          top: 50%;
          bottom: 50%;
          left: 104%;
          flex-direction: column;
          li {
            flex-direction: column;
            width: 10px;
            height: 10px;
            margin: 10px;

            button {
              width: 10px;
              height: 10px;
            }
          }
          .slick-active {
            width: 16px;
            height: 16px;
            button {
              width: 16px;
              height: 16px;
              border-radius: 8px;
            }
          }
        }
      }
    }
    .reviews-container__text {
      padding: 0px 0px 0px 70px;
      .reviews-container__text__preheadline {
        font-size: $large-paragraph-small-fs;
        line-height: $large-paragraph-small-lh;
        margin: 0px 0px 35px 5px;

        span {
        }
      }
      .reviews-container__text__headline {
        font-size: $large-headline-small-fs;
        line-height: $large-headline-small-lh;

        span {
          font-size: 48px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .reviews-container {
    padding: 80px 20px 130px 20px;
    .reviews-container__reviews {
      padding: 0px 20px;
      .reviews-slider {
        padding: 0px;
        .slick-list {
          .slick-track {
            align-items: flex-start;
            .slick-slide {
              padding: 20px;

              .reviews-slider__review__text {
                font-size: $small-paragraph-small-fs;
                line-height: $small-paragraph-small-lh;
                padding: 15px 20px;
                margin: 0px 0px 20px 0px;

                i {
                  font-size: 18px;
                  color: $dark-gray;
                }

                i:first-child {
                  margin: 0px 10px 0px 0px;
                }

                i:last-child {
                  margin: 0px 0px 0px 10px;
                }
              }

              .reviews-slider__review__author-img {
                width: 60px;
                height: 60px;
                margin: 0px 15px 0px 0px;
              }
              #author-one {
              }
              #author-two {
              }
              #author-three {
              }
              #author-four {
              }
              #author-five {
              }

              .reviews-slider__review__author-name {
                font-size: $large-paragraph-small-fs;
                line-height: $large-paragraph-small-lh;
              }
              .reviews-slider__review__author-term {
                font-size: $small-paragraph-small-fs;
                line-height: $small-paragraph-small-lh;

                span {
                }
              }
              .reviews-slider__review__mark {
                font-size: 14px;
              }
            }
          }
        }
        .slick-dots {
          top: 115%;

          left: 50%;
          right: 50%;
          flex-direction: row;
          li {
            flex-direction: column;
            width: 10px;
            height: 10px;
            margin: 10px;

            button {
              width: 10px;
              height: 10px;
            }
          }
          .slick-active {
            width: 16px;
            height: 16px;
            button {
              width: 16px;
              height: 16px;
              border-radius: 8px;
            }
          }
        }
      }
    }
    .reviews-container__text {
      text-align: center;
      padding: 0px 0px 50px 0px;
      .reviews-container__text__preheadline {
        font-size: $large-paragraph-small-fs;
        line-height: $large-paragraph-small-lh;
        margin: 0px 0px 35px 0px;

        span {
        }
      }
      .reviews-container__text__headline {
        font-size: $large-headline-small-fs;
        line-height: $large-headline-small-lh;

        span {
          font-size: 48px;
        }
      }
    }
  }
}
