@import "tmp.scss";

.services-container {
  .services-container__text-block {
    text-align: center;
    .services-container__text-block__preheadline {
      font-size: $large-paragraph-fs;
      line-height: $large-paragraph-lh;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
      color: $color-accent;
      margin: 0px 0px 45px 0px;
    }
    .services-container__text-block__headline {
      font-size: $med-headline-fs;
      line-height: $med-headline-lh;
      font-weight: 700;
      text-transform: capitalize;
      font-family: "SF Old Republic", sans-serif;
    }
    .services-container__text-block__paragraph {
      color: $paragraph-color;
      font-size: $large-paragraph-fs;
      line-height: $large-paragraph-lh;
      margin: 45px 0px 60px 0px;
      font-weight: 400;
    }
  }

  .services-container__services {
    .services-container__services__item {
      .services__item__content {
        background-color: white;
        -webkit-box-shadow: 0px 4px 40px -10px rgba(28, 28, 28, 0.2);
        -moz-box-shadow: 0px 4px 40px -10px rgba(28, 28, 28, 0.2);
        box-shadow: 0px 4px 40px -10px rgba(28, 28, 28, 0.2);
        border-radius: 10px;
        padding: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        .services__item__content__icon {
          background-color: $color-accent;
          width: 60px;
          height: 60px;
          border-radius: 10px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          i {
            font-size: 28px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
        }

        .services__item__content__headline {
          font-size: $large-paragraph-fs;
          line-height: $large-paragraph-lh;
          font-weight: 700;
          margin: 30px 0px 15px 0px;
        }
        .services__item__content__paragraph {
          color: $paragraph-color;
          font-size: $small-paragraph-fs;
          line-height: $small-paragraph-lh;
          font-weight: 400;
        }
      }
      &:nth-child(2) .services__item__content__icon {
        background-color: $color-accent-2;
      }
      &:nth-child(3) .services__item__content__icon {
        background-color: $color-accent-3;
      }
      &:nth-child(4) .services__item__content__icon {
        background-color: $basic-color;
      }
      &:hover {
        .services__item__content {
          background-color: $color-accent;
          .services__item__content__icon {
            background-color: white;
            i {
              color: $color-accent;
            }
          }

          .services__item__content__headline {
            color: white;
          }
          .services__item__content__paragraph {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .services-container {
    padding: 0px 20px 100px 20px;
    .services-container__text-block {
      .services-container__text-block__preheadline {
        font-size: $large-paragraph-small-fs;
        line-height: $large-paragraph-small-lh;
        margin: 0px 0px 45px 0px;
      }
      .services-container__text-block__headline {
        font-size: $med-headline-small-fs;
        line-height: $med-headline-small-lh;
      }
      .services-container__text-block__paragraph {
        color: $paragraph-color;
        font-size: $large-paragraph-small-fs;
        line-height: $large-paragraph-small-lh;
        margin: 45px 0px 60px 0px;
      }
    }
    .services-container__services {
      .services-container__services__item {
        .services__item__content {
          padding: 20px;
          .services__item__content__icon {
            i {
            }
          }

          .services__item__content__headline {
            font-size: $large-paragraph-small-fs;
            line-height: $large-paragraph-small-lh;
            margin: 30px 0px 10px 0px;
          }
          .services__item__content__paragraph {
            font-size: $small-paragraph-small-fs;
            line-height: $small-paragraph-small-lh;
          }
        }
        &:nth-child(2) .services__item__content__icon {
        }
        &:nth-child(3) .services__item__content__icon {
        }
        &:nth-child(4) .services__item__content__icon {
        }
        &:hover {
          .services__item__content {
            .services__item__content__icon {
              i {
              }
            }

            .services__item__content__headline {
            }
            .services__item__content__paragraph {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services-container {
    padding: 0px 20px 70px 20px;
    .services-container__text-block {
      .services-container__text-block__preheadline {
        font-size: $large-paragraph-small-fs;
        line-height: $large-paragraph-small-lh;
        margin: 0px 0px 45px 0px;
      }
      .services-container__text-block__headline {
        font-size: $med-headline-small-fs;
        line-height: $med-headline-small-lh;
      }
      .services-container__text-block__paragraph {
        color: $paragraph-color;
        font-size: $large-paragraph-small-fs;
        line-height: $large-paragraph-small-lh;
        margin: 45px 0px 60px 0px;
      }
    }
    .services-container__services {
      .services-container__services__item {
        padding: 0;
        .services__item__content {
          padding: 20px;
          .services__item__content__icon {
            i {
            }
          }

          .services__item__content__headline {
            font-size: $large-paragraph-small-fs;
            line-height: $large-paragraph-small-lh;
            margin: 30px 0px 10px 0px;
          }
          .services__item__content__paragraph {
            font-size: $small-paragraph-small-fs;
            line-height: $small-paragraph-small-lh;
          }
        }
        &:nth-child(2) .services__item__content__icon {
        }
        &:nth-child(3) .services__item__content__icon {
        }
        &:nth-child(4) .services__item__content__icon {
        }
        &:hover {
          .services__item__content {
            .services__item__content__icon {
              i {
              }
            }

            .services__item__content__headline {
            }
            .services__item__content__paragraph {
            }
          }
        }
      }
    }
  }
}
