@import "tmp.scss";
@import "normalize.scss";

body {
  font-family: "Proxima Nova Rg", sans-serif;
  color: $basic-color;
  // overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  padding: 0;
}

.wrapper__container {
  padding: 100px 40px;
}

.cta-button {
  background-color: $color-accent;
  border: 2px solid $color-accent;
  outline: 0;
  box-shadow: 0;
  font-weight: 700;
  letter-spacing: 1px;
  height: 64px;
  font-size: $btn-fs;
  line-height: $btn-lh;
  border-radius: 32px;
  color: white;
  width: 100%;

  i {
    margin: 0px 10px 0px 0px;
    font-size: 24px;
  }
}

.form-container__form__input-block__send-btn {
  background-color: $color-accent;
  border: 2px solid $color-accent;
  outline: 0;
  box-shadow: 0;
  font-weight: 700;
  letter-spacing: 1px;
  height: 64px;
  padding: 0px 30px;
  font-size: $btn-fs;
  line-height: $btn-lh;
  border-radius: 32px;
  color: white;

  i {
    margin: 0px 0px 0px 10px;
    font-size: 24px;
  }
}

.navbar-toggler {
  background-color: none;
  border: 0;
  outline: 0;
  box-shadow: none;
  width: 42px !important;
  height: 42px !important;
  padding: 0;
  margin: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover {
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler:hover {
  background-color: none !important;
}
.navbar-toggler:focus {
  background-color: none !important;
  border: none !important;
}

.form-container__form__input-block__send-btn:active,
.form-container__form__input-block__send-btn:focus,
.form-container__form__input-block__send-btn:hover {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  -moz-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  border: 2px solid #29e289 !important;
}

.form-container__form__input-block__send-btn:hover {
  background-color: #29e289 !important;
}
.form-container__form__input-block__send-btn:focus {
  background-color: $color-accent !important;
  border: 2px solid $color-accent !important;
}

.cta-button:active,
.cta-button:focus,
.cta-button:hover {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  -moz-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  border: 2px solid #29e289 !important;
}

.cta-button:hover {
  background-color: #29e289 !important;
}
.cta-button:focus {
  background-color: $color-accent !important;
  border: 2px solid $color-accent !important;
}

.hero-container__text__more-btn {
  color: $color-accent;
  background-color: white;
}

.hero-container__text__more-btn:active,
.hero-container__text__more-btn:focus,
.hero-container__text__more-btn:hover {
  box-shadow: none !important;
  border: 2px solid $basic-gray !important;
}

.hero-container__text__more-btn:hover {
  background-color: $basic-gray !important;
  color: $color-accent;
}
.hero-container__text__more-btn:focus {
  background-color: $basic-gray !important;
}

.price-container__item__cta {
  background-color: white;
  border: 2px solid $dark-gray;
  color: $paragraph-color;
}
.price-container__item__cta:active,
.price-container__item__cta:focus,
.price-container__item__cta:hover {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  -moz-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  border: 2px solid $color-accent !important;
}

.price-container__item__cta:hover {
  background-color: $color-accent !important;
  border: 2px solid $color-accent !important;
}
.price-container__item__cta:focus {
  background-color: #29e289 !important;
  border: 2px solid #29e289 !important;
}

input {
  border-radius: 32px 0px 0px 32px !important;
  padding: 0px 30px !important;
  border: 2px solid $dark-gray !important;
  font-size: $small-paragraph-fs !important;

  &::placeholder {
    color: #afafaf !important;
  }
}

input:active,
input:focus,
input:hover {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  -moz-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  box-shadow: none !important;
  border: 2px solid $color-accent !important;
}

input:focus {
  border: 2px solid $color-accent !important;
}

.divider-container {
  padding: 0px 40px;
  .divider-container__line {
    background-color: #dddddd;
    height: 1px;
    width: 100%;
  }
}

@import "hero-section.scss";
@import "services-section.scss";
@import "advantages-section.scss";
@import "reviews-section.scss";
@import "price-section.scss";
@import "form-section.scss";
@import "footer-section.scss";
@import "menu-section.scss";
