@import "tmp.scss";
@import "normalize.scss";

body {
  font-family: "Raleway", sans-serif;
  color: #1c1c1c;
}

.wrapper__container {
  padding: 100px 40px;
}

.cta-button {
  background-color: $color-accent;
  border: 0;
  outline: 0;
  box-shadow: 0;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 40px;
  font-size: $btn-fs;
  line-height: $btn-lh;
  border-radius: 30px;
  color: white;
  width: 100%;
}

.hero-container__text__more-btn {
  background-color: $basic-gray;
  color: $color-accent;
}

button:active,
button:focus,
button:hover {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  -moz-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
}

button:hover {
  background-color: #29e289 !important;
}
button:focus {
  background-color: $color-accent !important;
}

.hero-container {
  .hero-container__text {
    padding: 0px 80px 0px 0px;
    .hero-container__text__headline {
      font-size: $large-headline-fs;
      line-height: $large-headline-lh;
      font-weight: 900;
      text-transform: capitalize;

      span {
        font-size: 72px;
        color: $color-accent;
      }
    }
    .hero-container__text__paragraph {
      font-size: $large-paragraph-fs;
      line-height: $large-paragraph-lh;
      font-weight: 400;
      color: $paragraph-color;
      margin: 40px 0px 50px 0px;
    }
    .hero-container__text__cta {
    }
    .hero-container__text__more-btn {
    }
  }
  .hero-container__img {
    svg {
      max-width: 600px;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .hero-container {
    text-align: center;
    .hero-container__text {
      padding: 0px;
      .hero-container__text__headline {
        span {
        }
      }
      .hero-container__text__paragraph {
      }
      .hero-container__text__cta {
      }
      .hero-container__text__more-btn {
      }
    }
    .hero-container__img {
      svg {
        max-width: 400px;
        height: auto;
      }
    }
  }
}

@import "services-section.scss";
