@import "tmp.scss";
@import "normalize.scss";

body {
  font-family: "SF Old Republic", sans-serif;
  color: #1c1c1c;
}

.wrapper {
  padding: 0;
}

.wrapper__container {
  padding: 100px 40px;
}

.cta-button {
  background-color: $color-accent;
  border: 2px solid $color-accent;
  outline: 0;
  box-shadow: 0;
  font-weight: 700;
  letter-spacing: 1px;
  height: 64px;
  font-size: $btn-fs;
  line-height: $btn-lh;
  border-radius: 32px;
  color: white;
  width: 100%;

  i {
    margin: 0px 10px 0px 0px;
    font-size: 24px;
  }
}

.cta-button:active,
.cta-button:focus,
.cta-button:hover {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  -moz-box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  box-shadow: 0px 4px 30px 0px rgba(31, 192, 114, 0.6) !important;
  border: 2px solid #29e289 !important;
}

.cta-button:hover {
  background-color: #29e289 !important;
}
.cta-button:focus {
  background-color: $color-accent !important;
  border: 2px solid $color-accent !important;
}

.hero-container__text__more-btn {
  background-color: $basic-gray;
  color: $color-accent;
  background-color: white;
}

.hero-container__text__more-btn:active,
.hero-container__text__more-btn:focus,
.hero-container__text__more-btn:hover {
  box-shadow: none !important;
  border: 2px solid $basic-gray !important;
}

.hero-container__text__more-btn:hover {
  background-color: $basic-gray !important;
  color: $color-accent;
}
.hero-container__text__more-btn:focus {
  background-color: $basic-gray !important;
}

.divider-container {
  padding: 0px 40px;
  .divider-container__line {
    background-color: #dddddd;
    height: 1px;
    width: 100%;
  }
}

.hero-container {
  .hero-container__text {
    padding: 0px 80px 0px 0px;
    .hero-container__text__headline {
      font-size: $large-headline-fs;
      line-height: $large-headline-lh;
      font-weight: 700;
      text-transform: capitalize;

      span {
        font-size: 72px;
        color: $color-accent;
      }
    }
    .hero-container__text__paragraph {
      font-size: $large-paragraph-fs;
      line-height: $large-paragraph-lh;
      font-weight: 400;
      color: $paragraph-color;
      margin: 40px 0px 50px 0px;
    }
    .hero-container__text__cta {
    }
    .hero-container__text__more-btn {
    }
  }
  .hero-container__img {
    svg {
      max-width: 600px;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .hero-container {
    text-align: center;
    .hero-container__text {
      padding: 0px;
      .hero-container__text__headline {
        span {
        }
      }
      .hero-container__text__paragraph {
      }
      .hero-container__text__cta {
      }
      .hero-container__text__more-btn {
      }
    }
    .hero-container__img {
      svg {
        max-width: 400px;
        height: auto;
      }
    }
  }
}

.splide {
  .splide__arrows {
    .splide__arrow {
      svg {
        display: none;
      }
    }
  }
  .splide__track {
  }
  .splide__pagination {
    left: 0 !important;
  }
}

@import "services-section.scss";
@import "advantages-section.scss";
@import "reviews-section.scss";
