$basic-color: #1c1c1c;
$color-accent-2: #ff5c45;
$color-accent: #1fc072;
$basic-gray: #f1f1f1;
$paragraph-color: #808080;
$btn-fs: 20px;
$btn-lh: 20px;
$large-headline-fs: 50px;
$large-headline-lh: 56px;
$med-headline-fs: 42px;
$med-headline-lh: 44px;
$large-paragraph-fs: 22px;
$large-paragraph-lh: 32px;
$small-paragraph-fs: 16px;
$small-paragraph-lh: 22px;
