$basic-color: #1c1c1c;
$color-accent-2: #ff5c45;
$color-accent-3: #ffd524;
$color-accent: #1fc072;
$color-accent-dark: #1e9b5f;
$basic-gray: #f1f1f1;
$dark-gray: #cfcfcf;
$paragraph-color: #808080;

$btn-fs: 20px;
$btn-lh: 20px;
$price-fs: 72px;
$large-headline-fs: 50px;
$large-headline-lh: 56px;
$med-headline-fs: 42px;
$med-headline-lh: 44px;
$large-paragraph-fs: 22px;
$large-paragraph-lh: 28px;
$small-paragraph-fs: 18px;
$small-paragraph-lh: 28px;

$btn-small-fs: 16px;
$btn-small-lh: 18px;
$price-small-fs: 48px;
$large-headline-small-fs: 36px;
$large-headline-small-lh: 44px;
$med-headline-small-fs: 32px;
$med-headline-small-lh: 36px;
$large-paragraph-small-fs: 18px;
$large-paragraph-small-lh: 24px;
$small-paragraph-small-fs: 16px;
$small-paragraph-small-lh: 22px;
